@import "tailwindcss";

html{
  scroll-behavior: smooth;
}
:root {
  --background: #ffffff;
  --foreground: #181818;
  --primary: #898989;  
  --accent: #f5f9fa;   
  --muted: #94a3b8;    
  --highlight: #e0f2fe;
  --border: #e2e8f0;   
  --shadow: 2px 3px 5px rgba(0, 0, 0, 0.05);

  --fluid:clamp(1rem, 2vw, 3rem);
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;

  --padding: 2rem
}

 @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --shadow-soft: var(--shadow);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --padding-main : var(--padding);
  --text-fluid: var(--fluid);
} 

@plugin 'tailwind-scrollbar';

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 @layer utilities {
  .bg {
    &.background {
      background-color: var(--color-background);
    }
    &.foreground {
      background-color: var(--color-foreground);
    }
    &.muted {
      background-color: var(--color-muted);
    }
    &.primary {
      background-color: var(--color-primary);
    }
    &.highlight {
      background-color: var(--color-highlight);
    }
    &.accent {
      background-color: var(--color-accent);
    }
  }

  .text {
    &.foreground {
      color: var(--color-foreground);
    }
    &.primary {
      color: var(--color-primary);
    }
    &.muted {
      color: var(--color-muted);
    }
    &.highlight {
      color: var(--color-highlight);
    }
    &.accent {
      color: var(--color-accent);
    }
    &.fluid{
      font-size:var(--text-fluid)
    }
    &.shadow {
      text-shadow: var(--shadow-soft);
    }
  }
  
  .border {
    &.default {
      border-color: var(--color-border);
    }
  }

  .shadow {
    &.soft {
      box-shadow: var(--shadow-soft);
    }
  }

  .p{
    &.main{
      padding:0px var(--padding-main);
    }
  }
  

}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Spartan, Helvetica, sans-serif;
}

.video-wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  transition: all 0.5s ease;
}
.wide-mode {
  width: 100%;
  height:350px;
  max-height: 400px;
  max-width: 100%;
  background: #000;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  .plyr.plyr--full-ui{
    height:350px;
    max-height: 400px;
  }
}
.plyr__custom-wide-btn {
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width:767px) {
  .plyr__custom-wide-btn {
    display: none;
  }
  
}